/* container's padding*/
.container {
  padding: 10px;
}

h1 {
    background-color: rgb(39, 21, 39);
    color: rgb(240, 224, 196);
    text-align: center;
    padding:10px;
}

/* Input fields */
input[type=text], input[type=password], input[type=tel] {
  width: 35%;
  padding: 10px;
  margin: 7px;
  border:outset;
  background: #f1e7f1;
}

/* Register button */
.registerbtn {
  background-color: #187040;
  color: white;
  margin-left: 200px;
  max-width:none;
  text-align:center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 50%;
  padding:16px;
}

